h2 {
	text-align: center;
	font-size: 42px;
	position: center;
}

h4{
	color: #001A57;
}

img {
	border-color: red;
	border-width: 3px;
	height: 400px;
}

body {
	text-align: center;
	background: #9D4DF7;
	color: white;
	font: "source-sans-pro";
}

.withlove{
	color: pink;
}

.link{
	font-size: 28px;
	font-weight: bold;
}

/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: pink;
}